body {
	background-color: #ededed;
}
p {
	margin: 0 0 12px 0;
}
p:last-child {
	margin: 0;
}
a {
	text-decoration: none;
	transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-khtml-transition: color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s;
}
h1 {
	font: 48px/48px 'Cinzel Decorative';
	color: #e32447;
	margin: 0;
}
h2 {
	font: 16px/36px 'Marcellus SC';
	color: #4d4d4d;
	margin: 0;
}
sup {
	font-size: 6px;
	top: -6px;
}
.logo {
	font-size: 0;
}
header.main {
	background-color: #1f1f1f;
	height: 76px;
	margin-bottom: 36px;
}
header.main .logo {
	width: 101px;
	height: 76px;
	background: url('../../images/logo_white.png') no-repeat center left;
	background-size: 101px 55px;
}
header.main .learn_more {
	background-color: #751325;
	text-align: center;
	float: right;
	color: white;
	height: 76px;
	font: 22px/76px 'Marcellus SC';
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
header.main .learn_more:hover,
header.main .learn_more.open
{
	background-color: #e32447;
}
.break_margin_collapse {
	overflow: hidden;
	height: 0;
}
section.cta_top {
	display: none;
	opacity: 0;
}
.block.bottom_space {
	margin-bottom: 20px;
}
section.cta_top p {
	font: 18px/24px 'Crimson Text';
	color: #808080;
}
p.tagline {
	font-size: 14px !important;
}
input[type=text],
textarea
{
	border: none;
	border-radius: 0;
	background-color: white;
	font: 21px/36px 'Crimson Text';
	height: 36px;
	color: #e32447;
	padding: 0 10px;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
input[type=text]:hover,
textarea:hover
{
	background-color: #f2f2f2;
}
input[type=text]:focus,
textarea:focus
{
	background-color: #f2f2f2;
	outline: none;
}
input[type=button] {
	border: none;
	border-radius: 0;
	background-color: #e32447;
	font: 21px/36px 'Marcellus SC';
	color: white;
	text-align: center;
	transition: background-color 0.2s ease 0s;
	-moz-transition: background-color 0.2s ease 0s;
	-khtml-transition: background-color 0.2s ease 0s;
	-webkit-transition: background-color 0.2s ease 0s;
}
input[type=button]:hover {
	background-color: #751325;
}
textarea.message {
	max-width: 100%;
	height: 72px;
}
section.film_title {
	background: white url('images/pinking.png') repeat-x top center;
	background-size: 18px 9px;
	padding: 36px 0 18px 0;
	margin-top: 36px;
	margin-bottom: 36px;
	position: relative;
}
section.film_title:after {
	content: ' ';
	display: inline-block;
	background: url('images/shadow.png') no-repeat top center;
	background-size: 908px 22px;
	width: 908px;
	height: 22px;
	position: absolute;
	left: 50%;
	bottom: -22px;
	margin-left: -454px;
}
section.film_title .social {
	text-align: right;
}
section.film_title .social a {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 0;
	background: url('../../images/social_small.png') no-repeat;
	background-size: 72px 48px;
	margin-left: 8px;
}
section.film_title .social a.facebook {
	background-position: 0px 0px;
}
section.film_title .social a.facebook:hover {
	background-position: 0px -24px;
}
section.film_title .social a.twitter {
	background-position: -24px 0px;
}
section.film_title .social a.twitter:hover {
	background-position: -24px -24px;
}
section.film_title .social a.googleplus {
	background-position: -48px 0px;
}
section.film_title .social a.googleplus:hover {
	background-position: -48px -24px;
}
.video {
	height: 0;
	position: relative;
}
.video.aspect_blayne {
	padding-bottom: 42.553191489361702127659574468085%;
}
.video.aspect_16_9 {
	padding-bottom: 55.5%;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video .social_overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(77,77,77,0.8);
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: none;
}
.video .social_overlay .content {
	overflow: hidden;
}
.video .social_overlay h3 {
	font: 30px/30px 'Marcellus SC';
	color: white;
	margin: 0;
}
.video .social_overlay a.share {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 0;
	background: url('../../images/social_large.png') no-repeat;
	background-size: 180px 60px;
	margin-left: 20px;
}
.video .social_overlay a.facebook {
	background-position: 0px 0px;
	margin-left: 0;
}
.video .social_overlay a.twitter {
	background-position: -60px 0px;
}
.video .social_overlay a.googleplus {
	background-position: -120px 0px;
}
.video .social_overlay a.replay {
	font: 18px/18px 'Marcellus SC';
	color: white;
	display: block;
	margin-top: 24px;
}
.credits_link {
	font: 18px/36px 'Marcellus SC';
	color: #a6a6a6;
	text-align: right;
}
.credits_link:hover,
.credits_link.open
{
	color: #4d4d4d;
}
section.credits {
	display: none;
	opacity: 0;
	font: 12px/14px 'Marcellus SC';
	margin-top: 6px;
	background-color: #1f1f1f;
	color: #808080;
	padding: 20px 0;
}
section.credits .line {
	margin-bottom: 4px;
	overflow: hidden;
}
section.credits .leader {
	text-transform: lowercase;
	text-align: right;
}
section.credits .name {
	text-transform: uppercase;
	text-align: left;
}
section.credits .section_title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 12px;
}
section.credits .pullout {
	margin-top: 12px;
	text-align: center;
}
section.credits a {
	color: #808080;
	text-decoration: underline;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}
section.credits a:hover {
	color: #c0c0c0;
}
section.message {
	position: relative;
	margin-top: 120px;
}
section.message:before {
	content: ' ';
	position: absolute;
	display: block;
	width: 212px;
	height: 30px;
	top: -75px;
	left: 50%;
	margin-left: -106px;
	background: url('images/ornament.png') no-repeat top center;
	background-size: 212px 30px;
}
section.message p {
	text-align: center;
	font: 24px/36px 'Crimson Text';
	color: #e32447;
	margin-bottom: 24px;
}
section.message p.note {
    margin-top: 36px;
    margin-top: 36px;
    font-size: 17px;
    line-height: 24px;
    font-style: italic;
    color: #1f1f1f;
}
footer.main {
	background-color: #1f1f1f;
	padding: 36px 0;
	margin-top: 36px;
}
footer.main .logo {
	width: 146px;
	height: 78px;
	background: url('../../images/logo_gray.png') no-repeat top left;
	background-size: 146px 78px;
	margin-bottom: 12px;
}
footer p {
	font: 18px/24px 'Crimson Text';
	color: #808080;
}
footer.main input[type=text]:hover {
	background-color: #d9d9d9;
}
footer.main input[type=text]:focus {
	background-color: #d9d9d9;
	outline: none;
}
#dialog {
	display: none;
}
