@media screen and (max-width: 767px) {
	header.main .learn_more {
		display: none;
	}
	.logo {
		width: 100% !important;
		background-position: center center !important;
	}
	.break_margin_collapse {
		display: none;
	}
	h1 {
		font-size: 30px;
		text-align: center;
	}
	h2 {
		font-size: 12px;
		line-height: 24px;
		text-align: center;
	}
	section.film_title .col_9 {
		width: 97.872340425532%;
	}
	section.film_title .social {
		display: none;
	}
	section.film_title:after {
		background-size: 454px 11px;
		width: 100%;
		left: auto;
		margin-left: 0;
	}
	.video .social_overlay h3 {
		font-size: 24px;
		line-height: 24px;
	}
	.video .social_overlay a.replay {
		margin-top: 12px;
	}
	section.credits .col_6 {
		width: 97.872340425532%;
	}
	section.message p {
		font-size: 21px;
		line-height: 27px;
		margin-bottom: 18px;
	}
	footer.main .col_6 {
		width: 97.872340425532%;
	}
	footer.main .placeholder {
		display: none;
	}
	footer.main .block.submit {
		width: 100%;
		margin-left: 0;
	}
	.writeup {
		margin-bottom: 20px;
	}
	.writeup p {
		text-align: center;
	}
}
